spring:
    application:
        name: the-duckers-backend

    profiles:
        active: ${SPRING_PROFILES_ACTIVE:default}

server:
    port: 8080

springdoc:
    api-docs:
        enabled: true
    swagger-ui:
        enabled: true